<div #container class="container slide-up-in">
	<div class="calendar-top-bar">
		<div class="arrow-buttons-container">
			<dav-icon-button size="sm" (click)="showPreviousMonth()">
				<fa-icon [icon]="faArrowLeftLight"></fa-icon>
			</dav-icon-button>

			<dav-icon-button size="sm" (click)="showNextMonth()">
				<fa-icon [icon]="faArrowRightLight"></fa-icon>
			</dav-icon-button>
		</div>

		<h3>{{ currentMonth?.label ?? "" }}</h3>
	</div>

	<div class="weekday-labels-container">
		@for (label of weekdayLabels; track label) {
		<div class="weekday-label">{{ label }}</div>
		}
	</div>

	<div class="short-weekday-labels-container acrylic">
		@for (label of weekdayLabelsShort; track label) {
		<div class="weekday-label">{{ label }}</div>
		}
	</div>

	<div class="desktop-calendar-container">
		@if (currentMonth != null) {
		<div class="month-container">
			@for (week of currentMonth.weeks; track week.id) {
			<div class="week-container">
				@for (day of week.days; track day.id) {
				<div class="day-container">
					<a
						class="day-label"
						[class.today]="day.today"
						[href]="getCalendarDayPageLink(day.date)"
						(click)="navigateToDay($event, day.date)"
					>
						{{ day.label }}
					</a>

					@if (day.todos.length > 0) {
					<div class="day-todos-label">
						<span>
							{{ day.todos.length }}
							{{ day.todos.length == 1 ? locale.todo : locale.todos }}
						</span>
					</div>
					}

					<div class="day-appointments-container">
						@for (appointment of day.appointments; track appointment.uuid)
						{
						<calendo-appointment-item
							[appointment]="appointment"
						></calendo-appointment-item>
						}
					</div>
				</div>
				}
			</div>
			}
		</div>
		}
	</div>

	<div class="mobile-months-container">
		@for (month of mobileMonths; track month.label) {
		<div class="month-container">
			<div class="mobile-month-label-container">
				<p class="mobile-month-label">{{ month.label }}</p>
				<div class="mobile-month-label-border"></div>
			</div>

			@for (week of month.weeks; track week.id) {
			<div class="week-container">
				@for (day of week.days; track day.id) {
				<div class="day-container">
					@if (day.date != null) {
					<a
						class="day-label"
						[class.today-mobile]="day.today"
						[href]="getCalendarDayPageLink(day.date)"
						(click)="navigateToDay($event, day.date)"
					>
						{{ day.label }}
					</a>

					<div class="day-appointments-container">
						@for (appointment of day.appointments; track appointment.uuid)
						{
						<calendo-appointment-item
							[appointment]="appointment"
						></calendo-appointment-item>
						}
					</div>
					}
				</div>
				}
			</div>
			}
		</div>
		}
	</div>
</div>
