.container {
	height: calc(100vh - 76px);
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.arrow-buttons-container {
	display: flex;
	gap: 8px;
	margin-left: 21px;
}

.calendar-top-bar {
	display: flex;
	gap: 16px;
	margin: 8px 0;
}

.calendar-top-bar > h3 {
	margin: 0;
	font-size: 26px;
	font-weight: 300;
}

.weekday-labels-container {
	display: flex;
}

.weekday-label {
	width: 100%;
	text-align: center;
}

.month-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.week-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.day-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 8px;
	border: 1px solid rgb(var(--dav-color-outline-rgb), 0.15);
}

.day-label {
	margin-bottom: 8px;
	color: var(--dav-color-on-surface);
	background-color: var(--dav-color-surface);
	font-size: 14px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: 200ms;
	text-align: center;
	text-decoration: none;
}

.day-label:hover {
	background-color: var(--dav-color-surface-hover);
}
