.list-header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.list-header > p {
	margin: 0;
}

.list-header-buttons {
	display: flex;
	gap: 4px;
}

.items-container {
	margin-bottom: 12px;
	margin-left: 2px;
	padding-left: 10px;
	border-left: 1px solid rgb(var(--dav-color-outline-rgb), 0.15);
}
