@if (!isItemTodoList(item)) {
<div
	[@hide]="hidden ? 'hidden' : 'visible'"
	[style.marginLeft]="level == 0 ? '4px' : ''"
>
	<calendo-todo-item
		[todo]="item"
		(change)="checkCompleted()"
		(delete)="hideTodoItem()"
	></calendo-todo-item>
</div>
} @else {
<div [style.marginLeft]="level > 0 ? '-4px' : ''">
	<div class="list-header">
		<div class="list-header-buttons">
			<dav-icon-button size="xs" (click)="chevronButtonClick()">
				<fa-icon
					class="chevron-icon"
					[class.expanded]="expanded"
					[icon]="faChevronRight"
				></fa-icon>
			</dav-icon-button>
		</div>

		<p class="list-name" [class.strike-through]="completed">
			{{ item.name }}
		</p>

		<div class="list-header-buttons">
			@if (showMoreButton) {
				<dav-icon-button
					size="xs"
					(click)="moreButtonClick.emit(item)"
				>
					<fa-icon [icon]="faArrowRight"></fa-icon>
				</dav-icon-button>
			} @else {
				<dav-icon-button
					size="xs"
					(click)="optionsButtonClick.emit({ event: $event, item })"
				>
					<fa-icon [icon]="faEllipsis"></fa-icon>
				</dav-icon-button>
			}
		</div>
	</div>

	<div
		#itemsContainer
		class="items-container"
		[class.collapsed]="!expanded"
		[style.marginBottom]="marginBottom"
		[dragula]="allowDragging ? 'TODOS' : null"
		[(dragulaModel)]="subItems"
		(dragulaModelChange)="todoDragged($event)"
	>
		@for (subItem of subItems; track subItem.uuid) {
		<calendo-todo-list-tree-item
			[item]="subItem"
			[level]="level + 1"
			[allowDragging]="allowDragging"
			(completedChange)="checkCompleted()"
			(optionsButtonClick)="optionsButtonClick.emit($event)"
			(moreButtonClick)="moreButtonClick.emit($event)"
			(removeTodo)="removeTodo.emit($event)"
		></calendo-todo-list-tree-item>
		}
	</div>
</div>
}
