.list-header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.list-name {
	margin: 0;
	font-size: 14px;
	color: var(--dav-color-on-surface);

	/* Strike through styles */
	--strike: 0;
	background: linear-gradient(90deg, transparent, currentColor 0) no-repeat
		right center / calc(var(--strike) * 100%) 1px;
	transition: background-size 0.4s ease;
}

.list-name.strike-through {
	--strike: 1; /* "1" means "true" (show the strike line) */
	background-position-x: left;
}

.list-header-buttons {
	display: flex;
	gap: 4px;
}

.chevron-icon {
	transition: 200ms;
}

.chevron-icon.expanded {
	transform: rotate(90deg);
}

.items-container {
	margin-left: 13px;
	padding-left: 13px;
	border-left: 1px solid rgb(var(--dav-color-outline-rgb), 0.15);
}

.items-container.loaded {
	transition: 200ms;
}

.items-container.collapsed {
	transform: translateY(-10px);
	opacity: 0;
	margin-bottom: 0;
	visibility: hidden;
}
