@if (!isItemTodoList(item)) {
<calendo-todo-item [todo]="item"></calendo-todo-item>
} @else {
<div class="list-header">
	<p>{{ item.name }}</p>

	<dav-icon-button
		size="sm"
		(click)="addButtonClick.emit({ event: $event, parent: item })"
	>
		<fa-icon [icon]="faPlus"></fa-icon>
	</dav-icon-button>
</div>

<div class="items-container">
	@for (subItem of subItems; track item.uuid) {
	<calendo-todo-list-tree-item
		[item]="subItem"
		(addButtonClick)="addButtonClick.emit($event)"
	></calendo-todo-list-tree-item>
	}
</div>
}
