@if (!isItemTodoList(item)) {
<calendo-todo-item [todo]="item"></calendo-todo-item>
} @else {
<div class="list-header">
	<p>{{ item.name }}</p>

	<div class="list-header-buttons">
		<dav-icon-button
			size="xs"
			(click)="addButtonClick.emit({ event: $event, parent: item })"
		>
			<fa-icon [icon]="faPlus"></fa-icon>
		</dav-icon-button>

		<dav-icon-button
			size="xs"
			(click)="moreButtonClick.emit({ event: $event, item })"
		>
			<fa-icon [icon]="faEllipsis"></fa-icon>
		</dav-icon-button>
	</div>
</div>

<div class="items-container">
	@for (subItem of subItems; track item.uuid) {
	<calendo-todo-list-tree-item
		[item]="subItem"
		(addButtonClick)="addButtonClick.emit($event)"
		(moreButtonClick)="moreButtonClick.emit($event)"
	></calendo-todo-list-tree-item>
	}
</div>
}
