.list-header {
	display: flex;
	align-items: center;
	gap: 8px;
}

.list-header > p {
	margin: 0;
}

.list-header-buttons {
	display: flex;
	gap: 4px;
}

.chevron-icon {
	transition: 200ms;
}

.chevron-icon.expanded {
	transform: rotate(90deg);
}

.items-container {
	margin-left: 13px;
	padding-left: 13px;
	border-left: 1px solid rgb(var(--dav-color-outline-rgb), 0.15);
}
