<dav-dialog
	#dialog
	[headline]="mode == 'edit' ? locale.editHeadline : locale.createHeadline"
	[primaryButtonText]="
		mode == 'edit' ? actionsLocale.save : actionsLocale.create
	"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	[loading]="loading"
	maxWidth="300"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="visible = false"
>
	<form>
		<div class="name-color-container dialog-formfield-container">
			<dav-textfield
				[value]="name"
				[label]="locale.nameTextfieldLabel"
				[disabled]="loading"
				[errorMessage]="nameError"
				(change)="nameTextfieldChange($event)"
			></dav-textfield>

			<div class="color-dropdown-container">
				<dav-dropdown
					[options]="colorDropdownOptions"
					[selectedKey]="colorDropdownSelectedKey"
					compact
					(change)="colorDropdownChange($event)"
				></dav-dropdown>
			</div>
		</div>

		<div class="date-container">
			<dav-calendar
				[date]="date"
				(change)="calendarChange($event)"
			></dav-calendar>
		</div>

		<div class="time-container">
			<dav-checkbox
				[label]="locale.allDayCheckboxLabel"
				[checked]="allDay"
				(change)="allDayCheckboxChange($event)"
			></dav-checkbox>

			<div class="time-pickers-container">
				<dav-time-picker
					[hour]="startTimeHour"
					[minute]="startTimeMinute"
					[disabled]="allDay"
					(change)="startTimePickerChange($event)"
				></dav-time-picker>

				<dav-time-picker
					[hour]="endTimeHour"
					[minute]="endTimeMinute"
					[disabled]="allDay"
					(change)="endTimePickerChange($event)"
				></dav-time-picker>
			</div>
		</div>

		@if (dataService.dav.isLoggedIn) {
		<div class="reminder-container">
			<dav-checkbox
				[label]="locale.reminderCheckboxLabel"
				[checked]="activateReminder"
				(change)="reminderCheckboxChange($event)"
			></dav-checkbox>

			<dav-dropdown
				[options]="reminderDropdownOptions"
				[selectedKey]="reminderDropdownSelectedKey"
				position="top"
				[disabled]="!activateReminder"
				(change)="reminderDropdownChange($event)"
			></dav-dropdown>
		</div>
		}
	</form>
</dav-dialog>
