.name-color-container {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.color-dropdown-container {
	margin-top: 25px;
}

.date-container {
	display: flex;
	justify-content: center;
	margin-top: 24px;
}

.time-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin-top: 24px;
}

.time-pickers-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
