@if (!dataService.dav.isLoggedIn) {
<div class="container slide-up-in">
	<dav-header size="lg">
		{{ locale.title }}
	</dav-header>

	<h2 class="headline">
		{{ locale.headline }}
	</h2>

	<div class="benefits-container">
		<div class="benefit benefit-1">
			<fa-icon [icon]="faRotateLight"></fa-icon>
			<p>{{ locale.benefit1 }}</p>
		</div>

		<div class="benefit benefit2">
			<fa-icon [icon]="faLockLight"></fa-icon>
			<p>{{ locale.benefit2 }}</p>
		</div>
	</div>

	<div class="dav-logo-container">
		<a [href]="websiteUrl" target="_blank">
			<img
				class="dav-logo"
				[src]="
					dataService.darkTheme
						? '/assets/images/dav-logo-white.png'
						: '/assets/images/dav-logo.png'
				"
				alt="dav Logo"
			/>
		</a>
	</div>

	<div class="dav-buttons-container">
		<dav-button tonal (click)="navigateToLoginPage()">
			{{ locale.login }}
		</dav-button>

		<dav-button color="secondary" tonal (click)="navigateToSignupPage()">
			{{ locale.signup }}
		</dav-button>
	</div>
</div>
} @else {
<div class="container slide-up-in">
	<div class="header-logged-in-container">
		<dav-header size="lg">
			{{ locale.title }}
		</dav-header>
	</div>

	<div class="user-profile-container">
		<img class="profile-image" [src]="dataService.dav.user.ProfileImage" />

		<div class="user-details-container">
			<h4>
				<a
					class="profile-link"
					[href]="websiteUrl + '/login?redirect=user'"
					target="_blank"
				>
					{{ dataService.dav.user.FirstName }}
				</a>
			</h4>

			<p class="plan-label">
				{{
					dataService.dav.user.Plan == 0
						? locale.planFree
						: dataService.dav.user.Plan == 1
						? locale.planPlus
						: locale.planPro
				}}
			</p>

			<div class="progress-bar-container">
				<dav-progress-bar [value]="usedStoragePercent"></dav-progress-bar>
			</div>

			<p class="used-storage-label">
				{{ usedStorageText }}
			</p>

			<dav-button
				color="error"
				outline
				size="small"
				(click)="showLogoutDialog()"
			>
				{{ locale.logout }}
			</dav-button>
		</div>
	</div>
</div>

<calendo-logout-dialog
	#logoutDialog
	(primaryButtonClick)="logout()"
></calendo-logout-dialog>
}
