@if (!dataService.dav.isLoggedIn) {
<div class="container slide-up-in">
	<dav-header size="large">
		{{ locale.title }}
	</dav-header>

	<h2 class="headline">
		{{ locale.headline }}
	</h2>

	<div class="benefits-container">
		<div class="benefit benefit-1">
			<fa-icon [icon]="faRotateLight"></fa-icon>
			<p>{{ locale.benefit1 }}</p>
		</div>

		<div class="benefit benefit2">
			<fa-icon [icon]="faLockLight"></fa-icon>
			<p>{{ locale.benefit2 }}</p>
		</div>
	</div>

	<div class="dav-logo-container">
		<a [href]="websiteUrl" target="_blank">
			<img
				class="dav-logo"
				[src]="
					dataService.darkTheme
						? '/assets/images/dav-logo-white.png'
						: '/assets/images/dav-logo.png'
				"
				alt="dav Logo"
			/>
		</a>
	</div>

	<div class="dav-buttons-container">
		<dav-button tonal (click)="navigateToLoginPage()">
			{{ locale.login }}
		</dav-button>

		<dav-button color="secondary" tonal (click)="navigateToSignupPage()">
			{{ locale.signup }}
		</dav-button>
	</div>
</div>
} @else {
<div class="container mb-4 ms-motion-slideUpIn" style="padding-bottom: 56px">
	<h1 class="text-center mt-3 font-weight-light" style="margin-bottom: 40px">
		{{ locale.title }}
	</h1>

	<div class="d-flex justify-content-center">
		<img
			class="rounded-circle shadow"
			[src]="dataService.dav.user.ProfileImage"
		/>

		<div style="width: 200px">
			<h4 class="mb-0">
				<a
					href="https://dav-apps.tech/login?redirect=user"
					target="blank"
					>{{ dataService.dav.user.FirstName }}</a
				>
			</h4>
			<p class="text-muted mb-1">
				{{
					dataService.dav.user.Plan == 0
						? locale.planFree
						: dataService.dav.user.Plan == 1
						? locale.planPlus
						: locale.planPro
				}}
			</p>

			<div class="progress mt-3" style="width: 200px; height: 5%">
				<div
					class="progress-bar"
					role="progressbar"
					[style.width.%]="getUsedStoragePercentage()"
					aria-valuenow="40"
					aria-valuemin="0"
					aria-valuemax="100"
				></div>
			</div>

			<p class="mt-2" style="margin-bottom: 2px">
				{{
					locale.storageUsed
						.replace(
							"{0}",
							bytesToGigabytes(dataService.dav.user.UsedStorage, 1)
						)
						.replace(
							"{1}",
							bytesToGigabytes(dataService.dav.user.TotalStorage, 0)
						)
				}}
			</p>

			<button
				type="button"
				class="btn btn-outline-danger btn-sm mt-2"
				(click)="ShowLogoutModal()"
			>
				{{ locale.logout }}
			</button>
		</div>
	</div>

	<calendo-logout-modal (logout)="Logout()"></calendo-logout-modal>
</div>
}
