<ng-template #logoutModal let-c="close" let-d="dismiss">
   <div class="modal-header">
      <h4 class="modal-title">{{ locale.header }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <p>{{ locale.message }}</p>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="d()">{{ locale.cancel }}</button>
      <button type="button" class="btn btn-danger" (click)="c()">{{ locale.logout }}</button>
   </div>
</ng-template>