<ng-template #upgradeRequiredModal let-c="close" let-d="dismiss">
   <div class="modal-header theme-background-color-primary" [ngClass]="dataService.darkTheme ? 'border-dark' : ''">
      <h4 class="modal-title text-color">{{ feature == 0 ? locale.headerPlus : headerPro }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
         <span aria-hidden="true" class="text-color">&times;</span>
      </button>
   </div>
   <div class="modal-body theme-background-color-primary text-color">
      <p>{{ locale.messageNestedTodoLists }}</p>
   </div>
   <div class="modal-footer theme-background-color-primary" [ngClass]="dataService.darkTheme ? 'border-dark' : ''">
      <button type="button" class="btn btn-secondary" (click)="d()">{{ locale.close }}</button>
      <button type="button" class="btn btn-primary" (click)="c()">{{ locale.learnMore }}</button>
   </div>
</ng-template>