<div class="container mb-4" *ngIf="!dataService.user.IsLoggedIn">
   <h1 class="text-center mt-3 text-color">{{ locale.header }}</h1>
   <h5 class="text-center mt-4 text-color">{{ locale.text1 }}</h5>

   <div class="row mt-5">
      <div class="col-6 col-md-4 offset-md-1 text-center text-color">
			<fa-icon [icon]="faSync" style="font-size: 60px"></fa-icon>
         <p class="mt-4" style="font-size: 22px;">{{ locale.text2 }}</p>
      </div>

      <div class="col-6 col-md-4 offset-md-2 text-center text-color">
			<fa-icon [icon]="faLock" style="font-size: 60px"></fa-icon>
         <p class="mt-4" style="font-size: 22px;">{{ locale.text3 }}</p>
      </div>
	</div>
	
	<h3 class="text-center mt-5 text-color">{{ locale.text4 }}</h3>
	<div class="d-flex justify-content-center mt-4">
		<button type="button" class="btn btn-primary mr-2" (click)="ShowLoginPage()">{{ locale.login }}</button>
		<button type="button" class="btn btn-primary ml-2" (click)="ShowSignupPage()">{{ locale.signup }}</button>
	</div>

	<div class="d-flex justify-content-center">
		<a class="mt-4 text-color" href="https://dav-apps.tech" target="blank">{{ locale.linkText }}</a>
	</div>
</div>

<div class="container mb-4" *ngIf="dataService.user.IsLoggedIn">
   <h1 class="text-center mt-2 text-color" style="margin-bottom: 30px">{{ locale.header }}</h1>
	
	<div class="d-flex justify-content-center">
		<img class="rounded-circle"
				[src]="dataService.user.Avatar" 
				[height]="width > 420 ? 150 : 130" [width]="width > 420 ? 150 : 130" />

		<div style="width: 200px;" [style.marginLeft.px]="width > 400 ? 40 : 20">
			<h4 class="text-color mb-0">{{ dataService.user.Username }}</h4>
			<p class="text-muted mb-1">
				{{ dataService.user.Plan == 0 ? locale.planFree : (dataService.user.Plan == 1 ? locale.planPlus : locale.planPro ) }}
			</p>

			<div class="progress mt-3" style="width: 200px; height: 5%">
				<div class="progress-bar" role="progressbar" [style.width.%]="getUsedStoragePercentage()" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			
			<p class="mt-2 text-color" style="margin-bottom: 2px">{{ locale.storageUsed.replace("{0}", bytesToGigabytes(dataService.user.UsedStorage, 1)).replace("{1}", bytesToGigabytes(dataService.user.TotalStorage, 0)) }}</p>

			<button type="button" class="btn btn-outline-danger btn-sm mt-2" (click)="ShowLogoutModal()">{{ locale.logout }}</button>
		</div>
	</div>

	<div style="margin-top: 70px" *ngIf="dataService.user.Plan == 0" class="text-color">
		<h4 class="mt-5 text-center">{{ locale.upgradeTitle }}</h4>

		<div class="card text-center shadow mx-auto theme-background-color-secondary" style="width: 300px; margin-top: 35px">
			<div class="card-body">
				<h4 class="card-title">{{ locale.planPlus }}</h4>
				<h6 class="card-subtitle text-muted">{{ locale.pricePlus }}</h6>
			</div>
			<ul class="list-group">
            <li class="list-group-item border-left-0 border-right-0 theme-background-color-secondary">{{ locale.plusFeature1 }}</li>
				<li class="list-group-item border-left-0 border-right-0 theme-background-color-secondary">{{ locale.plusFeature2 }}</li>
				<li class="list-group-item border-left-0 border-right-0 theme-background-color-secondary">
					<button type="button" class="btn btn-primary" (click)="ShowPlansAccountPage()">{{ locale.upgrade }}</button>
				</li>
			</ul>
		</div>
	</div>

	<calendo-logout-modal (logout)="Logout()"></calendo-logout-modal>
</div>