<ng-template #createAppointmentModal let-c="close" let-d="dismiss">
   <div class="modal-header">
		<h4 class="modal-title">New appointment</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
   </div>
   <div class="modal-body row">
      <ngb-datepicker class="mx-auto" #dp [(ngModel)]="newAppointmentDate" (navigate)="date = $event.next"></ngb-datepicker>

      <div class="mx-auto">
         <label for="createAppointmentStartTime" class="col-form-label mt-3">Start time</label>
         <ngb-timepicker id="createAppointmentStartTime" [disabled]="newAppointmentAllDayCheckboxChecked"
                        [(ngModel)]="newAppointmentStartTime" [hourStep]="1" [minuteStep]="15"></ngb-timepicker>
         
         <label for="createAppointmentStartTime" class="col-form-label mt-3">End time</label>
         <ngb-timepicker id="createAppointmentEndTime" [disabled]="newAppointmentAllDayCheckboxChecked"
                        [(ngModel)]="newAppointmentEndTime" [hourStep]="1" [minuteStep]="15"></ngb-timepicker>

         <input type="checkbox" id="new-appointment-all-day-checkbox">
         <label for="new-appointment-all-day-checkbox" class="col-form-label ml-3">All Day</label>
      </div>

      <div class="mx-auto mt-4" style="width: 250px;">
         <label for="new-appointment-name" class="col-form-label">Name</label>
         <input id="new-appointment-name" class="form-control mx-auto" 
               type="text" placeholder="Appointment name" [(ngModel)]="newAppointmentName" />
      </div>
   </div>
   <div class="modal-footer">
		<button type="button" class="btn btn-primary" [disabled]="SetNewAppointmentSaveButtonDisabled()" (click)="c()">Save</button>
   </div>
</ng-template>