<li class="list-group-item d-flex align-items-center theme-background-color-secondary" style="padding: 10px 0px 10px 10px;">
   <div style="margin-bottom: -8px">
		<fab-checkbox (onChange)="ToggleCheckbox()" [checked]="todo.completed"></fab-checkbox>
	</div>
   <label for="todo-item-{{ todo.uuid }}" class="ml-3 mr-3 col-form-label text-color cursor" [ngClass]="todo.completed ? 'strikethrough' : ''" (click)="ToggleCheckbox()">
      {{ todo.name }}<span *ngIf="showBadge"><calendo-todo-group-badge *ngFor="let todoGroup of todo.groups" [groupName]="todoGroup" class="ml-2"></calendo-todo-group-badge></span>
   </label>
   
   <button type="button" class="close ml-auto" aria-label="Delete" (click)="Delete()" *ngIf="todo.completed">
      <fa-icon [icon]="faTimes" class="text-color" style="font-size: 16px; display: block"></fa-icon>
   </button>
</li>