<div class="container" [@hide]="hidden ? 'hidden' : 'visible'">
	<dav-checkbox
		[label]="todo.name"
		[checked]="todo.completed"
		strikeThrough
		(change)="checkboxChange($event)"
	></dav-checkbox>

	@if (todo.completed) {
	<dav-icon-button size="xs" (click)="deleteTodo()">
		<fa-icon [icon]="faTimes"></fa-icon>
	</dav-icon-button>
	} @if (todo.groups.length > 0) {
	<div class="badges-container">
		@for (group of todo.groups; track group; let i = $index) {
		<dav-badge
			size="sm"
			tonal
			[color]="getBadgeColor(i)"
		>
			{{ group }}
		</dav-badge>
		}
	</div>
	}
</div>
