<ul style="padding: 0px; margin: 0px">
	<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [dragula]="showRoot ? '' : 'todoList'" class="theme-background-color-primary">
		<mat-tree-node *matTreeNodeDef="let node" [ngClass]="showRoot ? 'theme-background-color-secondary' : 'theme-background-color-primary'" [id]="node.uuid">
			<!-- Normal todo -->
			<ng-container *ngIf="!node.newTodo && !node.newTodoList">
				<div style="margin-bottom: -8px; margin-left: 5px;">
					<fab-checkbox [checked]="node.completed" (onChange)="ToggleTodoCheckbox(node.uuid)"></fab-checkbox>
				</div>
				<label class="ml-2 col-form-label text-color cursor ms-fontSize-14" 
                  [ngClass]="node.completed ? 'strikethrough' : ''" 
                  style="user-select: none"
						(click)="ToggleTodoCheckbox(node.uuid)">
					{{ node.name }}
				</label>
				
				<!-- Remove button for todos -->
            <button *ngIf="!node.list && node.completed" type="button" class="close ml-3" aria-label="Delete" (click)="DeleteTodo(node.uuid)">
               <fa-icon [icon]="faTimes" class="text-color" style="font-size: 15px; display: block"></fa-icon>
            </button>
			</ng-container>
			<!-- New Todo input -->
			<ng-container *ngIf="node.newTodo">
				<fab-text-field [(value)]="inputValue" [placeholder]="locale.todoName" (keydown.enter)="ChangeInputToNode(node, false)"></fab-text-field>
            <button type="button" 
                  class="btn btn-outline-primary btn-sm ml-2" 
                  [disabled]="inputValue.length < 2"
                  (click)="ChangeInputToNode(node, false)">{{ locale.add }}</button>
            <button type="button" 
                  class="btn btn-sm ml-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
                  style="padding: 5px 8px 3px 8px" 
                  (click)="RemoveAllInputNodes()"><fab-icon iconName="Cancel"></fab-icon></button>
			</ng-container>
			<!-- New Todo list input -->
			<ng-container *ngIf="node.newTodoList && !node.newTodo">
            <fab-text-field [(value)]="inputValue" [placeholder]="locale.todoListName" (keydown.enter)="ChangeInputToNode(node, true)"></fab-text-field>
            <button type="button" 
                  class="btn btn-outline-primary btn-sm ml-2" 
                  [disabled]="inputValue.length < 2"
                  (click)="ChangeInputToNode(node, true)">{{ locale.add }}</button>
            <button type="button" 
                  class="btn btn-sm ml-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
                  style="padding: 5px 8px 3px 8px" 
                  (click)="RemoveAllInputNodes()"><fab-icon iconName="Cancel"></fab-icon></button>
			</ng-container>
		</mat-tree-node>

		<mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild" [ngClass]="showRoot ? 'theme-background-color-secondary' : 'theme-background-color-primary'" [id]="node.uuid">
			<div class="d-flex" [ngClass]="showRoot ? 'theme-background-color-secondary' : 'theme-background-color-primary'">
				<button mat-icon-button matTreeNodeToggle class="text-color" style="height: 35px; width: 35px; outline: none;">
					<fab-icon [iconName]="treeControl.isExpanded(node) ? 'ChevronDownMed' : 'ChevronRightMed'" [styles]="chevronIconStyles"></fab-icon>
				</button>

				<span class="cursor d-flex" style="margin-top: 7px; user-select: none" matTreeNodeToggle *ngIf="!node.editTodoList">
					<span class="mr-2" style="margin-top: -2px" *ngIf="node.completedCount == GetNodeChildrenCount(node)">
						<fab-icon iconName="Accept" [styles]="checkIconStyles"></fab-icon>
					</span>
					<span style="font-size: 14px; color: gray" matTreeNodeToggle>{{ node.completedCount }}/{{ GetNodeChildrenCount(node) }}</span>
				</span>

				<span class="cursor my-auto text-color ml-3" style="user-select: none" matTreeNodeToggle *ngIf="!node.editTodoList">
					<span class="mr-2">{{ node.name }}</span>
					<span *ngIf="showRoot">
						<calendo-todo-group-badge *ngFor="let todoGroup of node.groups" [groupName]="todoGroup"></calendo-todo-group-badge>
					</span>
				</span>
				
				<!-- Add dropdown -->
            <div ngbDropdown placement="top-left" style="margin-top: 2px" *ngIf="!node.editTodoList">
               <button type="button" 
                        class="btn ml-2 text-color theme-background-color-primary theme-border-color-primary icon-button" 
                        style="height: 30px; width: 30px; padding: 2px 0px 0px 0px;" 
                        ngbDropdownToggle *ngIf="!readonly">
                  <fab-icon iconName="Add"></fab-icon>
               </button>

               <div ngbDropdownMenu class="theme-background-color-tertiary ms-depth-4 ms-motion-slideUpIn">
                  <button class="dropdown-item text-color cursor" (click)="AddInputToTodoList(node, false)">{{ locale.newTodo }}</button>
                  <button class="dropdown-item text-color cursor" (click)="AddInputToTodoList(node, true)">{{ locale.newTodoList }}</button>
               </div>
            </div>
				
				<!-- Options button -->
				<div ngbDropdown placement="top-left" style="margin-top: 2px" *ngIf="!node.editTodoList">
					<button type="button"
							class="btn ml-2 text-color theme-background-color-primary theme-border-color-primary icon-button"
							style="height: 30px; width: 30px; padding: 2px 0px 0px 0px;" 
							ngbDropdownToggle *ngIf="!readonly">
						<fab-icon iconName="More"></fab-icon>
					</button>

					<div ngbDropdownMenu class="theme-background-color-tertiary ms-depth-4 ms-motion-slideUpIn">
						<button class="dropdown-item text-color cursor" (click)="EditTodoList(node)">{{ locale.rename }}</button>
						<button class="dropdown-item text-color cursor" (click)="ShowDeleteTodoListModal(node)">{{ locale.delete }}</button>
					</div>
				</div>

				<!-- Edit buttons -->
				<div *ngIf="node.editTodoList" class="d-flex">
					<fab-text-field [(value)]="node.name" [placeholder]="locale.todoListName"></fab-text-field>
					<button type="button" class="btn btn-outline-primary btn-sm ml-2" (click)="UpdateTodoList(node)" [disabled]="node.name.length < 2">{{ locale.save }}</button>
				</div>
			</div>

			<div [ngClass]="showRoot ? 'theme-background-color-secondary' : 'theme-background-color-primary'" style="padding-left: 25px;" [style.display]="treeControl.isExpanded(node) ? '' : 'none'" [dragula]="showRoot ? null : 'todoList'">
				<ng-container matTreeNodeOutlet></ng-container>
			</div>
		</mat-nested-tree-node>
	</mat-tree>
</ul>

<calendo-delete-todo-list-modal #deleteTodoListModal (remove)="RemoveTodoList($event)"></calendo-delete-todo-list-modal>
<calendo-upgrade-required-modal #upgradeRequiredModal (learnMoreClick)="LearnMoreClicked()"></calendo-upgrade-required-modal>