<div class="container slide-up-in">
	<dav-header size="lg" backButtonVisible (backButtonClick)="goBack()">
		{{ title }}
	</dav-header>

	<div class="content-container">
		<div class="appointments-container">
			<div class="appointments-header-container">
				<dav-header
					size="sm"
					[addButtonVisible]="!isDateBeforeToday"
					(addButtonClick)="createAppointmentDialog.show()"
				>
					{{ locale.appointments }}
				</dav-header>
			</div>

			<div class="appointments-content-container">
				@if (appointments.length == 0) {
				<p class="no-items-message">
					{{ locale.noAppointments }}
				</p>
				}

				<div class="appointment-items">
					@for (appointment of appointments; track appointment.uuid) {
					<calendo-small-appointment-item
						[appointment]="appointment"
						[compact]="true"
						(contextmenu)="
							smallAppointmentItemContextMenu($event, appointment)
						"
						(delete)="deleteAppointmentDialog.show()"
					></calendo-small-appointment-item>
					}
				</div>
			</div>
		</div>

		<div class="todos-container">
			<div class="todos-header-container">
				<dav-header
					size="sm"
					[addButtonVisible]="!isDateBeforeToday"
					(addButtonClick)="todoAddButtonClick($event)"
				>
					{{ locale.todos }}
				</dav-header>
			</div>

			<div class="todos-content-container">
				@if (todos.length == 0 && todoLists.length == 0) {
				<p class="no-items-message">
					{{ locale.noTodos }}
				</p>
				} @for (todo of todos; track todo.uuid) {
				<calendo-todo-item [todo]="todo"></calendo-todo-item>
				} @for (todoList of todoLists; track todoList.uuid) {
				<calendo-todo-list-tree
					[todoList]="todoList"
					[showRoot]="true"
					[expanded]="false"
					(moreButtonClick)="todoListMoreButtonClick($event)"
				></calendo-todo-list-tree>
				}
			</div>
		</div>
	</div>
</div>

<dav-context-menu
	#todoAddButtonContextMenu
	[visible]="todoAddButtonContextMenuVisible"
	[posX]="todoAddButtonContextMenuPositionX"
	[posY]="todoAddButtonContextMenuPositionY"
>
	<dav-context-menu-item
		[value]="locale.createTodo"
		(click)="todoAddButtonContextMenuVisible = false; createTodoDialog.show()"
	>
		<fa-icon slot="icon" [icon]="faCircleCheck"></fa-icon>
	</dav-context-menu-item>

	<dav-context-menu-item
		[value]="locale.createTodoList"
		(click)="
			todoAddButtonContextMenuVisible = false; createTodoListDialog.show()
		"
	>
		<fa-icon slot="icon" [icon]="faListCheck"></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>

<dav-context-menu
	#appointmentContextMenu
	[visible]="appointmentContextMenuVisible"
	[posX]="appointmentContextMenuPositionX"
	[posY]="appointmentContextMenuPositionY"
>
	<!-- Edit -->
	<dav-context-menu-item
		[value]="actionsLocale.edit"
		(click)="showEditAppointmentDialog(selectedAppointment)"
	>
		<fa-icon slot="icon" [icon]="faEdit"></fa-icon>
	</dav-context-menu-item>

	<!-- Delete -->
	<dav-context-menu-item
		[value]="actionsLocale.delete"
		(click)="showDeleteAppointmentDialog(selectedAppointment)"
	>
		<fa-icon slot="icon" [icon]="faTrash"></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>

<calendo-appointment-dialog
	#createAppointmentDialog
	[date]="date"
	(primaryButtonClick)="createAppointment($event)"
></calendo-appointment-dialog>

<calendo-appointment-dialog
	#editAppointmentDialog
	mode="edit"
	(primaryButtonClick)="updateAppointment($event)"
></calendo-appointment-dialog>

<calendo-todo-dialog
	#createTodoDialog
	[date]="date"
	[saveDate]="true"
	(primaryButtonClick)="createTodo($event)"
></calendo-todo-dialog>

<calendo-todo-dialog
	#createTodoListDialog
	mode="createTodoList"
	(primaryButtonClick)="createTodoList($event)"
></calendo-todo-dialog>

<calendo-delete-appointment-dialog
	#deleteAppointmentDialog
	(primaryButtonClick)="deleteAppointment()"
></calendo-delete-appointment-dialog>
