<div class="container">
   <h1 class="text-center mt-2 text-color">{{ getCurrentDate() }}</h1>

   <div class="d-flex flex-column text-color">
      <h2 class="mt-4 mb-3">
         {{ locale.appointments }}
         <button type="button" class="btn btn-outline-primary btn-sm mb-1" (click)="showNewAppointmentModal()"><fa-icon [icon]="faPlus"></fa-icon></button>
      </h2>

      <p class="font-weight-light" style="font-size: 18px; font-family: 'Segoe UI'" *ngIf="dataService.selectedDayAppointments.length == 0">{{ locale.noAppointments }}</p>
      <calendo-small-appointment-item class="d-inline-flex" [appointment]="appointment" *ngFor="let appointment of dataService.selectedDayAppointments"></calendo-small-appointment-item>
   </div>
   
   <div class="text-color">
      <h2 class="mt-4 mb-3">
         {{ locale.todos }}
         <button type="button" class="btn btn-outline-primary btn-sm mb-1" (click)="showNewTodoModal()"><fa-icon [icon]="faPlus"></fa-icon></button>
      </h2>
      <p class="font-weight-light" style="font-size: 18px; font-family: 'Segoe UI'" *ngIf="dataService.selectedDayTodos.length == 0">{{ locale.noTodos }}</p>
      
      <calendo-small-todo-item [todo]="todo" (delete)="DeleteTodo(todo)" *ngFor="let todo of dataService.selectedDayTodos"></calendo-small-todo-item>
   </div>

   <calendo-appointment-modal (save)="CreateAppointment($event)"></calendo-appointment-modal>
   <calendo-new-todo-modal (save)="CreateTodo($event)"></calendo-new-todo-modal>
</div>