.name-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 8px;
}

.date-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	margin-top: 16px;
}

.label-input-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: 16px;
	gap: 4px;
}

.labels-container {
	display: flex;
	justify-content: center;
	gap: 6px;
	margin-top: 16px;
}
