<dav-dialog
	#dialog
	[headline]="headline"
	[primaryButtonText]="actionsLocale.create"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	[loading]="loading"
	maxWidth="300"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="visible = false"
>
	<form>
		<div class="name-container dialog-formfield-container">
			<dav-textfield
				[value]="name"
				[label]="locale.nameTextfieldLabel"
				[disabled]="loading"
				[errorMessage]="nameError"
				(change)="nameTextfieldChange($event)"
			></dav-textfield>
		</div>

		<div class="date-container">
			<dav-checkbox
				label="Datum speichern"
				[checked]="saveDate"
				(change)="saveDateCheckboxChange($event)"
			></dav-checkbox>

			<dav-calendar
				[date]="date"
				[disabled]="!saveDate"
				(change)="calendarChange($event)"
			></dav-calendar>
		</div>

		<div class="label-input-container">
			<dav-textfield
				[value]="label"
				label="Label hinzufügen"
				(change)="labelTextfieldChange($event)"
			></dav-textfield>

			<dav-icon-button size="sm" shape="square" (click)="addLabel()">
				<fa-icon [icon]="faPlus"></fa-icon>
			</dav-icon-button>
		</div>

		@if (labels.length > 0) {
		<div class="labels-container">
			@for (label of labels; track label) {
			<dav-badge tonal color="secondary">{{ label }}</dav-badge>
			}
		</div>
		}
	</form>
</dav-dialog>
