<li
	class="list-group-item d-flex"
	style="padding: 10px 0px 10px 10px"
>
	<label class="col-form-label d-flex">
		<fa-icon
			[icon]="faCheck"
			style="
				margin-left: -30px;
				margin-top: -2px;
				position: absolute;
				color: green;
			"
			*ngIf="IsCompleted() && !appointment.allday"
		></fa-icon>
		<div
			*ngIf="!appointment.allday"
			class="appointment-item-{{
				appointment.uuid
			}} mr-2 ms-fontSize-14"
			style="margin-top: -8px"
		>
			<span class="font-italic position-absolute">{{
				ConvertUnixTimestampToTime(appointment.start)
			}}</span
			><br />
			<span class="font-italic position-absolute">{{
				ConvertUnixTimestampToTime(appointment.end)
			}}</span>
		</div>
		<span
			class="my-auto"
			[ngClass]="appointment.allday ? '' : 'ml-5'"
			>{{ appointment.name }}</span
		>
	</label>

	<div ngbDropdown placement="bottom-right" class="my-auto ml-auto">
		<div ngbDropdownToggle>
			<fab-icon-button [iconProps]="menuButtonIconProps"></fab-icon-button>
		</div>

		<div
			ngbDropdownMenu
			class="ms-depth-4 ms-motion-slideDownIn"
		>
			<button class="cursor">
				{{ locale.edit }}
			</button>
			<button class="cursor" (click)="delete.emit()">
				{{ locale.delete }}
			</button>
		</div>
	</div>
</li>
