.item-container {
	display: inline-flex;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	color: white;
	background-color: black;
	border-radius: 6px;
	padding: 3px 8px;
	cursor: pointer;
	user-select: none;
}

.item-container.compact {
	width: 100%;
	justify-content: space-between;
}

.compact-time-span {
	text-align: end;
}
