<h1 class="text-center mt-1">Appointments</h1>

<div class="row">
   <div class="card col-10 offset-1 col-md-4 my-4" *ngFor="let appointmentDay of appointmentDays">
      <div class="card-body">
         <h5 class="card-title">{{ appointmentDay.date }}</h5>
         <ul class="list-group list-group-flush" *ngFor="let appointment of appointmentDay.appointments; let i = index;">
            <calendo-appointment-item [appointment]="appointment"></calendo-appointment-item>
         </ul>
      </div>
   </div>
</div>