<div class="container slide-up-in">
	<dav-header
		size="lg"
		addButtonVisible
		(addButtonClick)="showCreateAppointmentDialog()"
	>
		{{ locale.title }}
	</dav-header>

	@if (appointmentDays.length == 0 && oldAppointmentDays.length == 0) {
	<p class="no-items-message">{{ locale.noAppointments }}</p>
	}

	<!-- List of future appointments -->
	<div class="appointment-list">
		@for (appointmentDay of appointmentDays; track
		appointmentDay.formattedDate) {
		<div class="appointment-day">
			<div class="appointment-day-header-container">
				<h4>
					{{ appointmentDay.formattedDate }}
				</h4>

				<dav-icon-button
					size="sm"
					[href]="appointmentDay.calendarDayPageLink"
					(click)="appointmentDayMoreButtonClick($event, appointmentDay)"
				>
					<fa-icon [icon]="faArrowRight"></fa-icon>
				</dav-icon-button>
			</div>

			<div class="appointment-day-items">
				@if (appointmentDay.appointments.length == 0) {
				<p class="no-items-message">{{ locale.noAppointmentsForDay }}</p>
				} @for (appointment of appointmentDay.appointments; track
				appointment.uuid) {
				<calendo-appointment-item
					[appointment]="appointment"
					[compact]="true"
					(contextmenu)="
						smallAppointmentItemContextMenu($event, appointment)
					"
				></calendo-appointment-item>
				}
			</div>
		</div>
		}
	</div>

	<!-- List of old appointments -->
	@if (oldAppointmentDays.length > 0 && appointmentDays.length > 0) {
	<dav-header class="old-appointments-header">
		{{ locale.oldAppointments }}
	</dav-header>
	}

	<div class="appointment-list">
		@for (appointmentDay of oldAppointmentDays; track
		appointmentDay.formattedDate) {
		<div class="appointment-day">
			<div class="appointment-day-header-container">
				<h4>
					{{ appointmentDay.formattedDate }}
				</h4>

				<dav-icon-button
					size="sm"
					[href]="appointmentDay.calendarDayPageLink"
					(click)="appointmentDayMoreButtonClick($event, appointmentDay)"
				>
					<fa-icon [icon]="faArrowRight"></fa-icon>
				</dav-icon-button>
			</div>

			<div class="appointment-day-items">
				@if (appointmentDay.appointments.length == 0) {
				<p class="no-items-message">{{ locale.noAppointmentsForDay }}</p>
				} @for (appointment of appointmentDay.appointments; track
				appointment.uuid) {
				<calendo-appointment-item
					[appointment]="appointment"
					[compact]="true"
					(contextmenu)="
						smallAppointmentItemContextMenu($event, appointment)
					"
				></calendo-appointment-item>
				}
			</div>
		</div>
		}
	</div>
</div>

<dav-context-menu
	#contextMenu
	[visible]="contextMenuVisible"
	[posX]="contextMenuPositionX"
	[posY]="contextMenuPositionY"
>
	<!-- Edit -->
	<dav-context-menu-item
		[value]="actionsLocale.edit"
		(click)="showEditAppointmentDialog(selectedAppointment)"
	>
		<fa-icon slot="icon" [icon]="faEdit"></fa-icon>
	</dav-context-menu-item>

	<!-- Delete -->
	<dav-context-menu-item
		[value]="actionsLocale.delete"
		(click)="showDeleteAppointmentDialog(selectedAppointment)"
	>
		<fa-icon slot="icon" [icon]="faTrash"></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>

<calendo-appointment-dialog
	#createAppointmentDialog
	(primaryButtonClick)="createAppointment($event)"
></calendo-appointment-dialog>

<calendo-appointment-dialog
	#editAppointmentDialog
	mode="edit"
	(primaryButtonClick)="updateAppointment($event)"
></calendo-appointment-dialog>

<calendo-delete-appointment-dialog
	#deleteAppointmentDialog
	(primaryButtonClick)="deleteAppointment()"
></calendo-delete-appointment-dialog>
