<div class="container-fluid ms-motion-slideUpIn">
   <h1 class="text-center mt-3 text-color font-weight-light">
      {{ locale.header }}
		<button
			type="button"
			class="btn btn-outline-primary btn-sm mb-1"
			(click)="ShowNewAppointmentModal()">

			<fa-icon [icon]="faPlus"></fa-icon>
		</button>
   </h1>

	<p class="font-weight-light text-center mt-3 text-color" 
		style="font-size: 18px; font-family: 'Segoe UI'"
		*ngIf="dataService.appointmentDays.length == 0">
		{{ locale.noAppointments }}
	</p>
	
	<!-- List of future appointments -->
   <div class="row">
		<div
			class="card offset-1 col-11 col-md-9 col-lg-7 mx-auto my-4 theme-background-color-secondary ms-depth-4"
			*ngFor="let appointmentDay of dataService.appointmentDays">

         <div class="card-body">
            <h5 class="card-title mb-3 text-color">{{ appointmentDay.date }}</h5>
            <ul class="list-group list-group-flush d-flex flex-column" *ngFor="let appointment of appointmentDay.appointments">
               <calendo-small-appointment-item class="d-inline-flex" [appointment]="appointment"></calendo-small-appointment-item>
            </ul>
         </div>
      </div>
	</div>
	
	<!-- List of old appointments -->
	<h2 class="font-weight-light text-center mt-3 text-color" *ngIf="dataService.oldAppointmentDays.length > 0">
		{{ locale.oldAppointments }}
	</h2>

	<div class="row" *ngIf="dataService.oldAppointmentDays.length > 0">
		<div
			class="card offset-1 col-11 col-md-9 col-lg-7 mx-auto my-4 theme-background-color-secondary ms-depth-4"
			*ngFor="let appointmentDay of dataService.oldAppointmentDays.reverse()">
		
			<div class="card-body">
				<h5 class="card-title mb-3 text-color">{{ appointmentDay.date }}</h5>
            <ul class="list-group list-group-flush d-flex flex-column" *ngFor="let appointment of appointmentDay.appointments">
               <calendo-small-appointment-item class="d-inline-flex" [appointment]="appointment"></calendo-small-appointment-item>
            </ul>
			</div>
		</div>
	</div>
   
   <calendo-appointment-modal (save)="CreateAppointment($event)"></calendo-appointment-modal>
</div>