<div class="container-fluid ms-motion-slideUpIn" (window:resize)="onResize()" style="padding-bottom: 56px">
	<div class="ml-md-5 ml-4">
		<h1 class="mt-3 text-color" style="font-weight: 300">{{ GetCurrentWeekday() }}</h1>
		<p class="lead text-color font-weight-light">{{ GetCurrentDate() }}</p>
	</div>

	<div class="row mt-4">
		<div class="card col-10 offset-1 col-md-4 mb-5 theme-background-color-secondary ms-depth-4">
			<div class="card-body" style="padding-bottom: 0px">
				<h5 class="card-title text-color">{{ locale.appointments }}</h5>
				<ul class="list-group list-group-flush">
					<calendo-appointment-item [appointment]="appointment" [showCompleted]="true" *ngFor="let appointment of dataService.startDaysAppointments[0]"></calendo-appointment-item>
					<li class="list-group-item theme-background-color-secondary" style="padding: 14px 0px 14px 5px;">
						<button type="button" class="btn btn-outline-primary btn-sm" (click)="ShowModal(0)"><fa-icon [icon]="faPlus"></fa-icon></button>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="card col-10 offset-1 col-md-4 offset-md-2 mb-5 theme-background-color-secondary ms-depth-4">
			<div class="card-body" style="padding-bottom: 0px">
				<h5 class="card-title text-color">{{ locale.todos }}</h5>
				<ul class="list-group list-group-flush">
               <calendo-todo-item [todo]="todo" *ngFor="let todo of dataService.startDaysTodos[0]" (delete)="DeleteTodo(todo)"></calendo-todo-item>
               <calendo-todo-list-item [todoList]="todoList" *ngFor="let todoList of dataService.startDaysTodoLists[0]"></calendo-todo-list-item>

					<li class="list-group-item theme-background-color-secondary" style="padding: 14px 0px 14px 5px;" ngbDropdown placement="bottom-left">
                  <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle><fa-icon [icon]="faPlus"></fa-icon></button>
                  <div ngbDropdownMenu class="theme-background-color-tertiary ms-depth-4 ms-motion-slideDownIn">
                     <button class="dropdown-item text-color cursor" (click)="ShowModal(1)">{{ locale.newTodo }}</button>
                     <button class="dropdown-item text-color cursor" (click)="ShowModal(2)">{{ locale.newTodoList }}</button>
                  </div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<ng-container *ngFor="let date of dataService.startDaysDates; let i = index;">
			<div class="row py-4 ml-md-4 border-top" [ngClass]="dataService.darkTheme ? 'border-dark' : ''" *ngIf="i > 0">
				<div class="col-3 text-color">
					<h4 class="cursor" [style.font-size.px]="largeDateFontSize" (click)="ShowCalendarDay(dataService.startDaysDates[i])">{{ GetLargeDate(date) }}</h4>
					<p class="font-weight-light cursor" [style.font-size.px]="smallDateFontSize" (click)="ShowCalendarDay(dataService.startDaysDates[i])">{{ GetSmallDate(date) }}</p>
				</div>
				<div class="offset-1 col-8 offset-lg-0 col-lg-9 d-flex flex-column mt-1">
					<div class="d-inline-flex" *ngFor="let appointment of dataService.startDaysAppointments[i]">
						<calendo-small-appointment-item [appointment]="appointment"></calendo-small-appointment-item>
					</div>
					
					<div class="d-flex flex-wrap">
                  <calendo-small-todo-item [todo]="todo" *ngFor="let todo of dataService.startDaysTodos[i]" (delete)="DeleteTodo(todo)"></calendo-small-todo-item>
                  <calendo-small-todo-list-item [todoList]="todoList" *ngFor="let todoList of dataService.startDaysTodoLists[i]"></calendo-small-todo-list-item>
					</div>
				</div>
			</div>
		</ng-container>
	</div>

	<calendo-appointment-modal (save)="CreateAppointment($event)"></calendo-appointment-modal>
   <calendo-new-todo-modal (save)="CreateTodo($event)"></calendo-new-todo-modal>
   <calendo-todo-list-modal (save)="CreateTodoList($event)"></calendo-todo-list-modal>
</div>