<h1>Hello World</h1>

<div class="row">
   <div class="card col-4" style="width: 18rem;">
      <div class="card-body">
         <h5 class="card-title">Appointments</h5>
         <ul class="list-group list-group-flush">
            <li class="list-group-item">16:00 Uhr: Arzttermin</li>
            <li class="list-group-item">18:00 Uhr: MS Build Keynote</li>
            <li class="list-group-item">Add</li>
         </ul>
      </div>
   </div>
   
   <div class="card offset-2 col-4" style="width: 18rem;">
      <div class="card-body">
         <h5 class="card-title">Todos</h5>
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <input type="checkbox" class="todo-checkbox">
            </li>
            <li class="list-group-item">

            </li>
            <li class="list-group-item">Add</li>
         </ul>
      </div>
   </div>
</div>