<nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="font-family: Roboto;">
	<a class="navbar-brand ml-3" routerLink="/" style="font-size: 25px;">Calendo</a>
	<div>
		<calendo-user-menu class="mr-3" *ngIf="isWindowSmall"></calendo-user-menu>
	
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-items" aria-controls="navbar-items" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="navbar-items" [ngClass]="isWindowSmall ? '' : 'd-flex justify-content-center'" [ngbCollapse]="!isCollapsed" style="font-size: 20px;">
		<ul class="navbar-nav text-white">
			<li class="nav-item mx-3 my-auto">
				<a routerLink="/" routerLinkActive="active" class="nav-link">Start</a>
			</li>
			<li class="nav-item mx-3 my-auto">
				<a routerLink="/todos" routerLinkActive="active" class="nav-link">Todos</a>
			</li>
			<li class="nav-item mx-3 my-auto">
				<a routerLink="/appointments" routerLinkActive="active" class="nav-link">Appointments</a>
			</li>
		</ul>
	</div>
	<calendo-user-menu class="mr-2" *ngIf="!isWindowSmall"></calendo-user-menu>
</nav>

<div class="container" (window:resize)="onResize($event)">
	<router-outlet></router-outlet>
</div>