<nav class="navbar navbar-expand-md navbar-dark bg-primary default-font ms-depth-16" id="calendo-navbar">
	<a class="navbar-brand ml-3" routerLink="/" style="font-size: 25px;" (click)="dataService.isNavbarCollapsed = false">Calendo</a>
	<div>
		<calendo-user-menu class="mr-3" *ngIf="isWindowSmall"></calendo-user-menu>
	
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar-items" aria-controls="navbar-items" (click)="dataService.isNavbarCollapsed = !dataService.isNavbarCollapsed" [attr.aria-expanded]="!dataService.isNavbarCollapsed" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse" id="navbar-items" [ngClass]="isWindowSmall ? '' : 'd-flex justify-content-center'" [ngbCollapse]="!dataService.isNavbarCollapsed" style="font-size: 20px;">
		<ul class="navbar-nav text-white">
			<li class="nav-item mx-3 my-auto">
				<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="dataService.isNavbarCollapsed = false">{{ locale.start }}</a>
			</li>
			<li class="nav-item mx-3 my-auto">
				<a routerLink="/calendar" routerLinkActive="active" class="nav-link" (click)="dataService.isNavbarCollapsed = false">{{ locale.calendar }}</a>
			</li>
			<li class="nav-item mx-3 my-auto">
				<a routerLink="/todos" routerLinkActive="active" class="nav-link" (click)="dataService.isNavbarCollapsed = false">{{ locale.todos }}</a>
			</li>
			<li class="nav-item mx-3 my-auto">
				<a routerLink="/appointments" routerLinkActive="active" class="nav-link" (click)="dataService.isNavbarCollapsed = false">{{ locale.appointments }}</a>
			</li>
		</ul>
	</div>
	<calendo-user-menu style="margin-right: -6px" *ngIf="!isWindowSmall"></calendo-user-menu>
</nav>

<div (window:resize)="onResize($event)" [style.width.px]="windowWidth" class="default-font">
	<router-outlet></router-outlet>
</div>