<nav
	class="navbar navbar-expand-md navbar-dark bg-primary default-font mat-elevation-z10"
	id="calendo-navbar"
>
	<a class="navbar-brand ml-3" routerLink="/" style="font-size: 25px"
		>Calendo</a
	>

	<div
		class="collapse navbar-collapse"
		id="navbar-items"
		[ngClass]="dataService.smallWindow ? '' : 'd-flex justify-content-center'"
		style="font-size: 20px"
	>
		<ul class="navbar-nav text-white">
			<li class="nav-item mx-3 my-auto">
				<a
					routerLink="/"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }"
					class="nav-link"
					>{{ locale.start }}</a
				>
			</li>
			<li class="nav-item mx-3 my-auto">
				<a
					routerLink="/calendar"
					routerLinkActive="active"
					class="nav-link"
					>{{ locale.calendar }}</a
				>
			</li>
			<li class="nav-item mx-3 my-auto">
				<a routerLink="/todos" routerLinkActive="active" class="nav-link">{{
					locale.todos
				}}</a>
			</li>
			<li class="nav-item mx-3 my-auto">
				<a
					routerLink="/appointments"
					routerLinkActive="active"
					class="nav-link"
					>{{ locale.appointments }}</a
				>
			</li>
		</ul>
	</div>

	<calendo-user-menu style="margin-right: -6px"></calendo-user-menu>
</nav>

<div [style.width.px]="windowWidth - 15" class="default-font">
	<router-outlet></router-outlet>
</div>

<div
	id="bottom-navigation-bar"
	class="bg-primary d-flex flex-row"
	*ngIf="dataService.smallWindow"
>
	<button
		mat-flat-button
		class="bottom-navigation-button flex-fill"
		routerLink="/"
	>
		<img
			src="/assets/svgs/home-white-outlined.svg"
			[style.display]="currentUrl == '/' ? 'none' : ''"
		/>
		<img
			src="/assets/svgs/home-white-filled.svg"
			[style.display]="currentUrl == '/' ? '' : 'none'"
		/>
	</button>

	<button
		mat-flat-button
		class="bottom-navigation-button flex-fill"
		routerLink="/calendar"
	>
		<img
			src="/assets/svgs/event_note-white-outlined.svg"
			[style.display]="currentUrl == '/calendar' ? 'none' : ''"
		/>
		<img
			src="/assets/svgs/event_note-white-filled.svg"
			[style.display]="currentUrl == '/calendar' ? '' : 'none'"
		/>
	</button>

	<button
		mat-flat-button
		class="bottom-navigation-button flex-fill"
		routerLink="/todos"
	>
		<img
			src="/assets/svgs/check_box-white-outlined.svg"
			[style.display]="currentUrl == '/todos' ? 'none' : ''"
		/>
		<img
			src="/assets/svgs/check_box-white-filled.svg"
			[style.display]="currentUrl == '/todos' ? '' : 'none'"
		/>
	</button>

	<button
		mat-flat-button
		class="bottom-navigation-button flex-fill"
		routerLink="/appointments"
	>
		<img
			src="/assets/svgs/event-white-outlined.svg"
			[style.display]="currentUrl == '/appointments' ? 'none' : ''"
		/>
		<img
			src="/assets/svgs/event-white-filled.svg"
			[style.display]="currentUrl == '/appointments' ? '' : 'none'"
		/>
	</button>
</div>
