<ng-template #appointmentModal let-c="close" let-d="dismiss">
   <div class="modal-header theme-background-color-primary" [ngClass]="dataService.darkTheme ? 'border-dark' : ''">
		<h4 class="modal-title text-color">{{ new ? locale.newAppointment : locale.editAppointment }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true" class="text-color">&times;</span>
		</button>
   </div>
   <div class="modal-body row theme-background-color-primary mx-0">
		<div class="mx-auto mb-1">
			<!-- Datepicker -->
			<ngb-datepicker style="background-color: white;" #dp [(ngModel)]="appointmentDate" (navigate)="date = $event.next"></ngb-datepicker>

         <!-- All Day Checkbox -->
         <div class="mt-3 ml-1">
				<div class="d-inline-flex">
					<fab-checkbox [checked]="appointmentAllDayCheckboxChecked" (onChange)="ToggleAllDayCheckbox()"></fab-checkbox>
					<label class="col-form-label ml-2 text-color cursor ms-fontSize-14" style="margin-top: -8px" (click)="ToggleAllDayCheckbox()">
						{{ locale.entireDay }}
					</label>
				</div>
         </div>
		</div>

		<div class="mx-auto mb-3">
			<!-- Start & End time pickers -->
			<div class="mx-auto">
				<div class="row">
					<div class="col-5 offset-1 mr-1">
						<label for="appointmentStartTime" class="col-form-label text-color">{{ locale.start }}</label>
						<ngb-timepicker id="appointment-start-time" [disabled]="appointmentAllDayCheckboxChecked"
											[(ngModel)]="appointmentStartTime" [hourStep]="1" [minuteStep]="15"></ngb-timepicker>
					</div>
	
					<div class="col-5">
						<label for="appointmentEndTime" class="col-form-label text-color">{{ locale.end }}</label>
						<ngb-timepicker id="appointment-end-time" [disabled]="appointmentAllDayCheckboxChecked"
											[(ngModel)]="appointmentEndTime" [hourStep]="1" [minuteStep]="15"></ngb-timepicker>
					</div>
				</div>
			</div>
      </div>

		<!-- Reminder -->
		<div class="col-12 mt-2">
         <div class="mx-auto" style="width: 250px;" [style.display]="showReminderOption ? 'block' : 'none'">
            <div class="d-inline-flex">
               <fab-checkbox [checked]="reminderCheckboxChecked" (onChange)="ToggleReminderCheckbox()"></fab-checkbox>
               <label class="col-form-label ml-2 text-color cursor ms-fontSize-14" style="margin-top: -8px" (click)="ToggleReminderCheckbox()">
                  {{ locale.reminder }}
               </label>
            </div>
            
				<div class="form-group mt-2" style="width: 250px;">
					<fab-dropdown [options]="reminderOptions" 
										[selectedKey]="notificationTime" 
										[disabled]="!reminderCheckboxChecked"
										(onChange)="ReminderDropdownChanged($event)"></fab-dropdown>
				</div>
			</div>

			<!-- Color -->
			<div class="mx-auto mt-3" style="width: 250px;">
				<label class="text-color">{{ locale.color }}</label>
	
				<div class="row mx-auto">
					<div class="rounded-circle m-1 appointment-color cursor" 
							[style.background-color]="selectedColor == i ? (dataService.darkTheme ? '#15202b' : 'white') : '#' + color" 
							[style.border]="selectedColor == i ? '5px solid #' + color : ''"
							(click)="selectedColor = i"
							*ngFor="let color of availableColors; let i = index;"></div>
				</div>
			</div>

			<!-- Name -->
			<div class="mx-auto mt-3" style="width: 250px;">
				<calendo-set-name [(name)]="appointmentName" (nameChanged)="appointmentName = $event" [todo]="false" [width]="250"></calendo-set-name>
			</div>
		</div>
   </div>
   <div class="modal-footer theme-background-color-primary" [ngClass]="dataService.darkTheme ? 'border-dark' : ''">
		<button type="button" class="btn btn-primary" [disabled]="SetAppointmentSaveButtonDisabled()" (click)="c()">{{ locale.save }}</button>
   </div>
</ng-template>