.name-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 8px;
}

.date-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	margin-top: 16px;
}
