<div class="container slide-up-in">
	<dav-header
		size="lg"
		addButtonVisible
		backButtonVisible
		editButtonVisible
		deleteButtonVisible
		(addButtonClick)="addButtonClick($event)"
		(backButtonClick)="goBack()"
		(editButtonClick)="showEditTodoListDialog()"
		(deleteButtonClick)="deleteTodoListDialog.show()"
	>
		{{ todoList.name }}
	</dav-header>

	<div class="metadata">
		@if (todoList.time != 0) {
		<p>
			{{ date }}
		</p>
		} @if (todoList.groups.length > 0) {
		<div class="labels-container">
			@for (group of todoList.groups; track group) {
			<dav-badge tonal color="secondary">{{ group }}</dav-badge>
			}
		</div>
		}
	</div>
</div>

<dav-context-menu
	#addButtonContextMenu
	[visible]="addButtonContextMenuVisible"
	[posX]="addButtonContextMenuPositionX"
	[posY]="addButtonContextMenuPositionY"
>
	<dav-context-menu-item
		[value]="locale.addTodo"
		(click)="addButtonContextMenuVisible = false; addTodoDialog.show()"
	>
		<fa-icon slot="icon" [icon]="faCircleCheckLight"></fa-icon>
	</dav-context-menu-item>

	<dav-context-menu-item
		[value]="locale.addTodoList"
		(click)="addButtonContextMenuVisible = false; addTodoListDialog.show()"
	>
		<fa-icon slot="icon" [icon]="faListCheckLight"></fa-icon>
	</dav-context-menu-item>
</dav-context-menu>

<calendo-todo-dialog
	#editTodoListDialog
	mode="editTodoList"
	(primaryButtonClick)="updateTodoList($event)"
></calendo-todo-dialog>

<calendo-todo-list-add-dialog
	#addTodoDialog
	(primaryButtonClick)="addTodo($event)"
></calendo-todo-list-add-dialog>

<calendo-todo-list-add-dialog
	#addTodoListDialog
	mode="todoList"
	(primaryButtonClick)="addTodoList($event)"
></calendo-todo-list-add-dialog>

<calendo-delete-todo-list-dialog
	#deleteTodoListDialog
	(primaryButtonClick)="deleteTodoList()"
></calendo-delete-todo-list-dialog>
