<div class="container slide-up-in">
	<dav-header
		size="lg"
		addButtonVisible
		backButtonVisible
		deleteButtonVisible
		(backButtonClick)="goBack()"
	>
		{{ todoList.name }}
	</dav-header>

	<div class="metadata">
		<p *ngIf="todoList.time != 0">
			{{ date }}
		</p>

		<!-- TODO: Group badges -->
	</div>

	<div>
		<div>
			<div ngbDropdown placement="top-left" style="margin-top: 7px">
				<button
					type="button"
					class="btn ml-2"
					style="height: 30px; width: 30px; padding: 2px 0px 0px 0px"
					ngbDropdownToggle
				>
					<fab-icon iconName="Add"></fab-icon>
				</button>

				<div
					ngbDropdownMenu
					class="ms-depth-4 ms-motion-slideUpIn"
				>
					<button
						class="cursor"
						(click)="
							todoListTree.AddInputToTodoList(
								todoListTree.rootTodoItem,
								false
							)
						"
					>
						{{ locale.newTodo }}
					</button>
					<button
						class="cursor"
						(click)="
							todoListTree.AddInputToTodoList(
								todoListTree.rootTodoItem,
								true
							)
						"
					>
						{{ locale.newTodoList }}
					</button>
				</div>
			</div>
		</div>
		<calendo-todo-list-tree
			#todoListTree
			[todoList]="todoList"
			(update)="Update()"
		></calendo-todo-list-tree>
	</div>
</div>
