.container {
	display: flex;
	flex-direction: column;
	padding: 12px;
}

.metadata {
	text-align: center;
	font-size: 18px;
}

.labels-container {
	display: flex;
	justify-content: center;
	gap: 6px;
	margin-top: 16px;
}

.tree-container {
	display: inline-flex;
	justify-content: center;
	margin-top: 24px;
}
