.container {
	padding: 0 24px 12px;
}

.head {
	color: var(--dav-color-on-surface);
	margin: 64px 0;
}

.headline {
	text-align: center;
	font-size: 52px;
	font-weight: 500;
	margin-bottom: 0;
}

.subhead {
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	margin-top: 14px;
}

.today-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 84px;
	gap: 42px;

	h4 {
		color: var(--dav-color-on-surface);
		font-size: 22px;
		font-weight: 300;
		margin: 0;
	}
}

@media screen and (min-width: 730px) {
	.today-container {
		flex-direction: row;
		align-items: start;
		gap: 0;
	}
}

.today-header-container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.today-appointments,
.today-todos {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	width: 30%;
	min-width: 200px;
	max-width: 300px;
}

.today-appointments-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.days-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.day-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding: 0 24px;
}

.day-headline-container {
	display: none;
}

.day-headline-top {
	font-size: 20px;
	font-weight: 500;
	color: var(--dav-color-on-surface);
	margin: 0 0 4px 0;
}

.day-headline-bottom {
	font-size: 16px;
	font-weight: 300;
	color: var(--dav-color-on-surface);
	margin: 0;
}

.day-headline-mobile {
	display: block;
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	color: var(--dav-color-on-surface);
}

@media screen and (min-width: 730px) {
	.day-container {
		display: grid;
		grid-template-columns: 120px 1fr 1fr;
		align-items: start;
		width: 80%;
		max-width: 800px;
		gap: 32px;
	}

	.day-container.single-column {
		grid-template-columns: 120px 1fr;
		max-width: 500px;
	}

	.day-headline-container {
		display: block;
	}

	.day-headline-mobile {
		display: none;
	}
}

.day-appointments-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
	max-width: 350px;
}

.divider {
	width: 80%;
	border-top: 1px solid rgba(var(--dav-color-outline-rgb), 0.4);
	margin: 80px 10%;
}

.todo-item-container {
	margin-left: 3px;
}
