.head {
	margin: 64px 0;
}

.headline {
	text-align: center;
	font-size: 52px;
	font-weight: 500;
	margin-bottom: 0;
}

.subhead {
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	margin-top: 14px;
}
