.head {
	margin: 64px 0;
}

.headline {
	text-align: center;
	font-size: 52px;
	font-weight: 500;
	margin-bottom: 0;
}

.subhead {
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	margin-top: 14px;
}

.today-container {
	display: flex;
	justify-content: space-evenly;
	margin-top: 84px;
	padding: 0 24px;

	h4 {
		font-size: 22px;
		font-weight: 300;
		margin: 0;
	}
}

.today-header-container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.today-appointments, .today-todos {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	width: 30%;
}

.today-appointments-list {
	width: 100%;
}
