<dav-dialog
	#dialog
	[headline]="headline"
	[primaryButtonText]="actionsLocale.add"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	[loading]="loading"
	maxWidth="300"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="visible = false"
>
	<form>
		<div class="dialog-formfield-container">
			<dav-textfield
				[value]="name"
				[label]="locale.nameTextfieldLabel"
				[disabled]="loading"
				[errorMessage]="nameError"
				(change)="nameTextfieldChange($event)"
			></dav-textfield>
		</div>
	</form>
</dav-dialog>
