<calendo-appointment-modal (save)="Update($event)"></calendo-appointment-modal>

<div *ngIf="enableDropdown" ngbDropdown placement="bottom-left">
	<div
		class="px-1 rounded cursor"
		style="font-size: 15px; color: white; user-select: none"
		[style.background-color]="
			appointment.color ? '#' + appointment.color : defaultColor
		"
		ngbDropdownToggle
	>
		<p *ngIf="!compact">
			{{ appointment.name }}<br />
			<span *ngIf="!appointment.allday">{{ getTimeSpan() }}</span>
		</p>
		<p *ngIf="compact">
			<span *ngIf="!appointment.allday">{{ getStartTime() }}</span>
			{{ appointment.name }}
		</p>
	</div>

	<div
		ngbDropdownMenu
		class="ms-depth-4 ms-motion-slideDownIn"
	>
		<button class="cursor" (click)="Edit()">
			{{ locale.edit }}
		</button>
		<button class="cursor" (click)="delete.emit()">
			{{ locale.delete }}
		</button>
	</div>
</div>

<div
	class="px-1 rounded d-inline-flex"
	style="font-size: 15px; color: white; user-select: none"
	[style.background-color]="
		appointment.color ? '#' + appointment.color : defaultColor
	"
	*ngIf="!enableDropdown"
>
	<span *ngIf="!compact">
		{{ appointment.name }}<br />
		<span *ngIf="!appointment.allday">{{ getTimeSpan() }}</span>
	</span>
	<span *ngIf="compact">
		<span *ngIf="!appointment.allday">{{ getStartTime() }}</span>
		{{ appointment.name }}
	</span>
</div>
