<div ngbDropdown class="d-inline-block default-font" placement="bottom-right">
	<button class="btn btn-primary" ngbDropdownToggle id="user-menu-dropdown">
		<span *ngIf="!dataService.dav.isLoggedIn">
			<fa-icon [icon]="faUserCircle" style="font-size: 25px"></fa-icon>
		</span>
		<img
			*ngIf="dataService.dav.isLoggedIn"
			[src]="dataService.dav.user.ProfileImage"
			class="rounded-circle"
			height="32"
			width="32"
		/>
	</button>
	<div
		ngbDropdownMenu
		aria-labelledby="user-menu-dropdown"
		class="theme-background-color-tertiary ms-depth-4 ms-motion-slideDownIn"
	>
		<p
			*ngIf="dataService.dav.isLoggedIn"
			class="font-weight-light my-auto py-1 text-color"
			style="font-size: 16px; margin-left: 23px"
		>
			{{ dataService.dav.user.FirstName }}
		</p>
		<div class="dropdown-divider" *ngIf="dataService.dav.isLoggedIn"></div>
		<button class="dropdown-item text-color cursor" routerLink="/account">
			{{ locale.account }}
		</button>
		<button class="dropdown-item text-color cursor" routerLink="/settings">
			{{ locale.settings }}
		</button>
	</div>
</div>
