<div class="container slide-up-in">
	<dav-header size="lg">
		{{ locale.title }}
	</dav-header>

	<div class="settings-container">
		<div class="setting">
			<!-- Theme -->
			<dav-setting [header]="locale.theme">
				<dav-dropdown
					[options]="themeDropdownOptions"
					[selectedKey]="selectedTheme"
					(change)="themeDropdownChange($event)"
				></dav-dropdown>
			</dav-setting>
		</div>
	</div>

	<div class="app-info-container">
		<!-- App information -->
		<div>
			<div class="link-container">
				<dav-link-button url="https://blog.dav-apps.tech/tag/calendo/">
					{{ locale.news }}
				</dav-link-button>

				<dav-link-button url="https://github.com/dav-apps/Calendo">
					{{ locale.github }}
				</dav-link-button>

				<dav-link-button url="https://dav-apps.tech/privacy">
					{{ locale.privacy }}
				</dav-link-button>
			</div>

			<p class="version-text">
				Version {{ version }}<br />
				Copyright &copy; {{ year }} by dav
			</p>

			<div class="search-update-container" *ngIf="searchForUpdates">
				<dav-progress-ring size="16"></dav-progress-ring>
				<p>{{ updateMessage }}</p>
			</div>

			<div
				class="no-update-container"
				[ngClass]="hideNoUpdateAvailable ? 'slide-down-out' : ''"
				*ngIf="noUpdateAvailable"
			>
				<fa-icon [icon]="faCheck"></fa-icon>
				<p>{{ locale.noUpdateAvailable }}</p>
			</div>

			<div class="update-error-container" *ngIf="updateError">
				<p>{{ locale.updateError }}</p>
			</div>

			<dav-button
				class="activate-update-button"
				size="small"
				outline
				(click)="activateUpdate()"
				*ngIf="dataService.updateInstalled"
			>
				{{ locale.activateUpdate }}
			</dav-button>
		</div>
	</div>
</div>
