<ng-template #createTodoModal let-c="close" let-d="dismiss">
	<div class="modal-header theme-background-color-primary" [ngClass]="dataService.darkTheme ? 'border-dark' : ''">
		<h4 class="modal-title text-color">{{ locale.header }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true" class="text-color">&times;</span>
		</button>
	</div>
	<div class="modal-body row theme-background-color-primary mx-0">
		<div class="mx-auto mb-4 px-4 text-color">
			<!-- Set Date checkbox -->
			<p>
				<input type="checkbox" id="new-todo-set-date-checkbox">
				<label for="new-todo-set-date-checkbox" class="ml-3">{{ locale.setDate }}</label>
			</p>
			<ngb-datepicker #dp [(ngModel)]="newTodoDate" 
								(navigate)="date = $event.next" 
								[disabled]="!newTodoSetDateCheckboxChecked"
								style="background-color: white;"></ngb-datepicker>
		</div>
		<div class="mx-auto mb-4 px-4 text-color" [style.display]="showReminderOption ? 'block' : 'none'">
			<!-- Reminder checkbox -->
			<p>
				<input type="checkbox" id="new-todo-reminder-checkbox" [disabled]="!newTodoSetDateCheckboxChecked">
				<label for="new-todo-reminder-checkbox" 
						[ngClass]="newTodoSetDateCheckboxChecked ? 'ml-3' : 'ml-3 text-muted'">{{ locale.reminder }}</label>
			</p>
			<ngb-timepicker id="todo-reminder-time" class="mx-auto" style="width: 100px" [disabled]="!newTodoReminderCheckboxChecked"
								[(ngModel)]="todoReminderTime" [hourStep]="1" [minuteStep]="15"></ngb-timepicker>
		</div>

		<div class="mx-auto col-10 offset-1">
			<div class="form-group">
				<label for="new-group-name" class="col-form-label text-color">{{ locale.addNewGroup }}</label>

				<div class="d-flex">
					<button type="button" class="btn btn-outline-primary btn-sm" (click)="AddGroup(newGroupName)"><i class="fas fa-plus"></i></button>
					<input id="new-group-name" class="form-control"
							type="text" [placeholder]="locale.groupName" [(ngModel)]="newGroupName" />
				</div>
			</div>

			<div class="form-group" ngbDropdown placement="bottom-left" *ngIf="allGroups.length > 0">
				<button type="button" class="btn btn-outline-primary btn-sm mb-1" ngbDropdownToggle>{{ locale.addExistingGroup }}</button>
				<div ngbDropdownMenu class="theme-background-color-tertiary">
					<button class="dropdown-item text-color" (click)="AddGroup(groupName)" *ngFor="let groupName of allGroups">{{ groupName }}</button>
				</div>
			</div>

			<calendo-todo-group-badge *ngFor="let todoGroup of todoGroups" [groupName]="todoGroup" [canRemove]="true" (remove)="RemoveGroup($event)"></calendo-todo-group-badge>

			<div class="form-group">
				<label for="new-todo-name" class="col-form-label text-color">{{ locale.name }}</label>
				<input id="new-todo-name" class="form-control" 
						type="text" [placeholder]="locale.todoName" [(ngModel)]="newTodoName" />
			</div>
		</div>
	</div>
	<div class="modal-footer theme-background-color-primary" [ngClass]="dataService.darkTheme ? 'border-dark' : ''">
		<button type="button" class="btn btn-primary" [disabled]="newTodoName.length < 2" (click)="c()">{{ locale.save }}</button>
	</div>
</ng-template>