<?xml version="1.0"?>

<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".js" mimeType="application/javascript" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/json" />
		</staticContent>
		<rewrite>
            <rules>
					<clear />
					<rule name="Redirect to https" stopProcessing="true">
						<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<httpCompression>
			<dynamicTypes>
				<clear />
				<add enabled="true" mimeType="text/*"/>
				<add enabled="true" mimeType="message/*"/>
				<add enabled="true" mimeType="application/x-javascript"/>
				<add enabled="true" mimeType="application/javascript"/>
				<add enabled="true" mimeType="application/json"/>
				<add enabled="false" mimeType="*/*"/>
				<add enabled="true" mimeType="application/atom+xml"/>
				<add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
			</dynamicTypes>
			<staticTypes>
				<clear />
				<add enabled="true" mimeType="text/*"/>
				<add enabled="true" mimeType="message/*"/>
				<add enabled="true" mimeType="application/javascript"/>
				<add enabled="true" mimeType="application/atom+xml"/>
				<add enabled="true" mimeType="application/xaml+xml"/>
				<add enabled="true" mimeType="application/json"/>
				<add enabled="false" mimeType="*/*"/>
			</staticTypes>
		</httpCompression>
		<caching>
			<profiles>
				<add extension=".js" policy="CacheUntilChange" />
				<add extension=".css" policy="CacheUntilChange" />
			</profiles>
		</caching>
	</system.webServer>
</configuration>