.name-color-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 8px;
}

.date-container {
	display: flex;
	justify-content: center;
	margin-top: 24px;
}

.time-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin-top: 24px;
}
