<dav-dialog
	#dialog
	[headline]="locale.headline"
	[primaryButtonText]="actionsLocale.create"
	[defaultButtonText]="actionsLocale.cancel"
	[visible]="visible"
	[loading]="loading"
	maxWidth="300"
	(dismiss)="visible = false"
	(primaryButtonClick)="submit()"
	(defaultButtonClick)="visible = false"
>
	<form>
		<div class="name-color-container dialog-formfield-container">
			<dav-textfield
				[value]="name"
				[label]="locale.nameTextfieldLabel"
				[disabled]="loading"
				[errorMessage]="nameError"
				(change)="nameTextfieldChange($event)"
			></dav-textfield>

			<dav-dropdown
				[options]="colorDropdownOptions"
				[selectedKey]="colorDropdownSelectedKey"
				compact
				(change)="colorDropdownChange($event)"
			></dav-dropdown>
		</div>

		<div class="date-container">
			<dav-calendar></dav-calendar>
		</div>

		<div class="time-container">
			<dav-checkbox label="Ganztägig"></dav-checkbox>

			<dav-time-picker (change)="timePickerChange($event)"></dav-time-picker>
		</div>
	</form>
</dav-dialog>
